* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Protest Revolution", sans-serif;
  height: 60px;
  background-color: aquamarine;
  text-shadow: 3px 3px 3px white;
}
.inputSession{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

#filterInput{
    width: 300px;
    height: 30px;
    border: 2px solid gray;
}

.countries{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}